<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Cleaning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Data Cleaning</h1>
        <form action="/data_cleaning" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" required>
            <button type="submit">Upload</button>
        </form>
        {% if table_html %}
            <div class="data-container">
                {{ table_html|safe }}
            </div>
            <form action="/data_cleaning" method="post">
                <button type="submit" name="action" value="remove_null_rows">Remove Null Row</button>
                <button type="submit" name="action" value="replace_null_with_mean">Replace Null Value with Column Mean (For Columns With Numeric Value)</button>
            </form>
            <form action="/data_cleaning" method="post">
                <button type="submit" name="action" value="remove_duplicates">Remove Duplicates</button>
            </form>
            <form action="/download" method="post">
                <input type="hidden" name="csv_data" value="{{ csv_data }}">
                <button type="submit">Download CSV</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
