<!-- navbar.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
    <!-- Navbar -->
    <div class="header">
        <div class="navbar-container">
            <div class="navbar">
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Data Extraction</a></li>
                        <li><a href="/data_cleaning">Data Cleaning</a></li>
                        <li><a href="/visualize">Data Visualization</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
