<!-- Navbar -->
<div class="header">
    <div class="navbar-container">
        <div class="navbar">
            <nav>
                <ul id="MenuItems">
                    <li><a href="/"><i class="ph ph-magic-wand" style="margin-right: 5px;"></i> Data Extraction</a></li>
                    <li><a href="/data_cleaning"><i class="ph ph-broom" style="margin-right: 5px;"></i> Data Cleaning</a></li>
                    <li><a href="/visualize"><i class="ph ph-chart-line-up" style="margin-right: 5px;"></i> Data Visualization</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
